  .main {
    
  min-height: 100vh;
}

.header{
  background-color: black;
  color:rgb(61, 96, 152);
  padding:2%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width:100%
}
.dropDown{
  padding-top: 5%;
  padding-right: 2%;
}
.footer{
  //background-color: white;
  background-color: black;
  color:rgb(61, 96, 152);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}
.imgDiv{
 position: relative;
 height:10vh;
 width:25%;
}
.imgDivDrawer{
 position: relative;
 height:10vh;
 width:25%;
}
.aboutImg{
 position: relative;
 height:20vh;
 width:50%;
}
.hero{
 position: relative;
 height:40vh;
 width:100%;
}
.navLink{
  color: #F8E183;
  text-align: center;
 
  margin: 0% 0% 0% 5%;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0;
  margin-top:5em;
}
.myDiv{
  position: relative;
  height: 50vh;
  width:100%
}

@media screen and (min-width:360px) {
  .imgDiv{
    width:22%;
  }
}

@media screen and (min-width:540px) {
  .imgDiv{
    width:15%;
  }
  .imgDivDrawer{
    width:20%;
   }
  .aboutImg{
    height:25vh;
    width:50%;
   }
   .dropDown{
    padding-top:4%;
  }
}
@media screen and (min-width:768px) {
  .imgDiv{
    width:15%;
  }
  .dropDown{
    padding-top:5%;
  }
  .imgDivDrawer{
    width:22%;
    height: 8vh;
   }
}
@media screen and (min-width:820px) {
  .imgDivDrawer{
    width:25%;
   }
}
@media screen and (min-width:1024px) {
  .imgDiv{
    width:9%;
    height: 13vh;
  }
  .imgDivDrawer{
    width:15%;
  
   }
  .aboutImg{
    height:60vh;
   }
   .hero{
    height:80vh
   }
   .dropDown{
    padding-top:2%;
  }
}
@media screen and (min-width:1280px){
  .imgDivDrawer{
    width:18%;
   }
   .imgDiv{
    width:8%;
    height: 11vh;
  }
}
@media screen and (min-width:1366px){
  .imgDiv{
    width:7%;
   }
}





