  .main {
    
  min-height: 100vh;
}

.header{
  background-color: black;
  color:rgb(61, 96, 152);
  padding:2%;

  width:100%
}
.footer{
  //background-color: white;
  background-color: black;
  color:rgb(61, 96, 152);
}
.imgDiv{
 position: relative;
 height:11vh;
 width:30%;
}
@media screen and (min-width:360px) {
  .imgDiv{
    width:25%;
  }
}

@media screen and (min-width:540px) {
  .imgDiv{
    width:15%;
  }
}
@media screen and (min-width:1024px) {
  .imgDiv{
    width:8%;
  }
}


