  .main {
    
  min-height: 100vh;
}

.header{
  background-color: black;
  color:rgb(61, 96, 152);
  padding:2%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width:100%
}
.dropDown{
  padding-top: 5%;
  padding-right: 2%;
}
.footer{
  //background-color: white;
  background-color: black;
  color:rgb(61, 96, 152);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}
.imgDiv{
 position: relative;
 height:11vh;
 width:30%;
}
.aboutImg{
 position: relative;
 height:20vh;
 width:50%;
}
.hero{
 position: relative;
 height:40vh;
 width:100%;
}
.navLink{
  color: #F8E183;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width:360px) {
  .imgDiv{
    width:22%;
  }
}

@media screen and (min-width:540px) {
  .imgDiv{
    width:15%;
  }
  .aboutImg{
    height:25vh;
    width:50%;
   }
   .dropDown{
    padding-top:4%;
  }
}
@media screen and (min-width:768px) {
  .imgDiv{
    width:17%;
  }
  .dropDown{
    padding-top:5%;
  }
}
@media screen and (min-width:1024px) {
  .imgDiv{
    width:10%;
    height: 15vh;
  }
  .aboutImg{
    height:60vh;
   }
   .hero{
    height:80vh
   }
   .dropDown{
    padding-top:2%;
  }
}





